# Virtual environment
venv/

# Python cache files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.vscode/
.DS_Store

# Project specific
*.pkl
models/*.pkl

# Data files (often too large for git)
data/*.csv
*.csv

# Logs
logs/
*.log